#mainBackground{
    -fx-background-color: #EAF3FA;
    -fx-background-image: url("dots_mainbackground3.png");
    -fx-background-repeat: repeat;
}

.label{

}

#searchWindow{
    -fx-background-color: #E5FBFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #7a9fb5, 0, 1, 4, 4);
}

#recipeWindow{
    -fx-background-color: #D1DED9;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, #7a9fb5, 0, 1, 6, 6);

}

#shoppingButton {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
    -fx-background-color: #D1DED9;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #7a9fb5, 0, 1, 4, 4);

}
#ingredientsButton {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
    -fx-background-color: #6E9FAF;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #5a7a8a, 0, 1, 4, 4);
}
#favoritesButton {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
    -fx-background-color: #FFFEC4;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #7a9fb5, 0, 1, 4, 4);
}
#allergiesButton {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
    -fx-background-color: #F28585;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #7a9fb5, 0, 1, 4, 4);
}
#myRecipesButton {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
    -fx-background-color: #BAD6E6;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #7a9fb5, 0, 1, 4, 4);
}

#loginBackground{
    -fx-background-color: white;
}

#logInButton{
    -fx-background-color: #B8D9C8;
}

@font-face {
    src: url("Font/PressStart2P-Regular.ttf");
}

#blueSquareLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 18px;
}

#usernameLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#passwordLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#signUpButton {
    -fx-background-color: #B8D9C8;
}

#choosePasswordLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#chooseUsernameLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#signupBackground{
    -fx-background-color: white;
}

#favouritesBackground{
    -fx-background-color: #9DB7D1;
    -fx-background-image: url("stripes_favouritesBackground.png");
    -fx-background-repeat: repeat;
}

#searchButton{
    -fx-background-color: #BAD6E6;
    -fx-background-radius: 0 10 0 0;
    -fx-border-radius: 0 10 0 0;
}

#searchBarField {
    -fx-background-radius: 10 0 0 0;
    -fx-border-radius: 10 0 0 0;
}

#removeFavouriteButton{
    -fx-background-color: #F28585;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #c45a5a, 0, 1, 4, 4);
}

#infoBox{
    -fx-effect: dropshadow(three-pass-box, #5a7a8a, 0, 1, 4, 4);
}

#infoBoxLabel1{
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
    -fx-background-color: #6E9FAF;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#infoBoxLabel2{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #6E9FAF;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#infoBoxLabel3{
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-background-color: #6E9FAF;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}



