#mainBackground{
    -fx-background-color: white;
}

.label{

}

#searchWindow{
    -fx-background-color: #E5FBFF;
}

#recipeWindow{
    -fx-background-color: #E5FBFF;
}

#shoppingButton {
    -fx-background-color: #D2E8CC;
    -fx-font-weight: bold;

}
#ingredientsButton {
    -fx-background-color: #EFE1F5;
    -fx-font-weight: bold;
}
#favoritesButton {
    -fx-background-color: #F7E28B;
    -fx-font-weight: bold;
}
#allergiesButton {
    -fx-background-color: #DC5A4C;
    -fx-font-weight: bold;
}
#myRecipesButton {
    -fx-background-color: #E5FBFF;
    -fx-font-weight: bold;
}

#loginBackground{
    -fx-background-color: white;
}

#logInButton{
    -fx-background-color: #D2E8CC;
}