#mainBackground{
    -fx-background-color: white;
}

.label{

}

#searchWindow{
    -fx-background-color: #E5FBFF;
}

#recipeWindow{
    -fx-background-color: #E5FBFF;
}

#shoppingButton {
    -fx-background-color: #E1D4ED;

}
#ingredientsButton {
    -fx-background-color: #0A6151;
}
#favoritesButton {
    -fx-background-color: #B1D9F0;
}
#allergiesButton {
    -fx-background-color: #DC5A4C;
}
#myRecipesButton {
    -fx-background-color: #C2F0B1;
}