#mainBackground{
    -fx-background-color: #6A8898;
}

#searchBarField{
    -fx-background-color: #FFF5E8;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #8AACA0, 0, 1, -4, 4);
}

#searchListView {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
}

#searchListView .list-cell {
    -fx-background-color: transparent;
}

#searchStackPane{
    -fx-background-color: #FFF5E8;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #8AACA0, 0, 1, -4, 4);
}

#searchButton {
    -fx-background-color: #9CC2B6;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #8AACA0, 0, 1, 0, 4);
}

#recipeWindow{
    -fx-background-color: #FFF5E8;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, #8AACA0, 0, 1, -4, 4);
    -fx-border-color: #8AACA0;        /* kantfärg */
    -fx-border-width: 3;              /* tjocklek på ramen */
    -fx-border-radius: 12;            /* lite mindre än background-radius */
    -fx-border-insets: 8;

}


#loginBackground{
    -fx-background-color: white;
}

#logInButton{
    -fx-background-color: #B8D9C8;
}

@font-face {
    src: url("Font/PressStart2P-Regular.ttf");
}

#blueSquareLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 18px;
}

#usernameLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#passwordLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#signUpButton {
    -fx-background-color: #B8D9C8;
}

#choosePasswordLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#chooseUsernameLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#signupBackground{
    -fx-background-color: white;
}

#favouritesBackground{
    -fx-background-color: #9DB7D1;
    -fx-background-image: url("redStripes.png");
    -fx-background-repeat: repeat;
}

#searchButton{
    -fx-background-color: #BAD6E6;
    -fx-background-radius: 0 10 0 0;
    -fx-border-radius: 0 10 0 0;
}


#removeFavouriteButton{
    -fx-background-color: #6E9FAF;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, #5a7a8a, 0, 1, 4, 4);
}

#infoBox{
    -fx-effect: dropshadow(three-pass-box, #5a7a8a, 0, 1, 4, 4);
}

#infoBoxLabel1{
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
    -fx-background-color: #6E9FAF;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 8px;
    -fx-alignment: center;
    -fx-text-fill: #FFF5E8;
}

#infoBoxLabel2{
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-background-color: #6E9FAF;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 9px;
    -fx-alignment: center;
    -fx-text-fill: #FFF5E8;
}

#infoBoxLabel3{
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-background-color: #6E9FAF;
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 7px;
}

#Header{
    -fx-background-color: #FFF5E8;
    -fx-border-color: #3A5870;
    -fx-border-width: 3;
}

#instructionsTextArea .content {
    -fx-background-color: #FFF5E8;
}

#ingredientsListView{
    -fx-background-color: #FFF5E8;
}

#ingredientsListView .list-cell:even {
    -fx-background-color: #EEE8D5;
}

#ingredientsListView .list-cell:odd {
    -fx-background-color: #FFF5E8;
}
#myIngredientsAnchor {
    -fx-background-color: #9DB7D1;
    -fx-background-image: url("stripes_background.png");
    -fx-background-repeat: repeat;
}

#myRecipesAnchor {
    -fx-background-image: url("dots_mainbackground3.png");
    -fx-background-repeat: repeat;
}


