#mainBackground{
    -fx-backroung-colour: #F3CFC6;
}

.label{

}

#searchWindow{
    -fx-background-color: #F3CFC6;
}

#recipeWindow{
    -fx-background-color: #F3CFC6;
}

#shoppingButton {
    -fx-background-color: #E1D4ED;

}
#ingredientsButton {
    -fx-background-color: #0A6151;
}
#favoritesButton {
    -fx-background-color: #FBE62D;
}
#allergiesButton {
    -fx-background-color: #DC5A4C;
}
#myRecipesButton {
    -fx-background-color: #A7D454;
}